.share-bill-table {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 12px;
  overflow: hidden;
  border: none;
}

.share-bill-table .ant-table-thead > tr > th {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.share-bill-table .ant-table-tbody > tr > td {
  background-color: #fff !important;
}

.share-bill-card {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .share-bill-card {
    width: 800px;
  }

  .transaction-wrapper {
    padding-top: 2rem;
  }
}


