.random-table {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 12px;
  overflow: hidden;
  border: none;
}

.random-table .ant-table-thead > tr > th {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.random-table .ant-table-tbody > tr > td {
  background-color: #fff !important;
}
